*:focus {
  outline: none;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.header-wrapper ul {
  display: flex;
}

.header-wrapper ul li {
  list-style-type: none;
  padding: 5px;
}

.header-wrapper ul li a {
  text-decoration: none;
}

.footer-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 10px;
  background-color: white;
}

.header-wrapper ul li button {
  background-color: transparent;
  border: none;
  color: skyblue;
  font-size: 16px;
  cursor: pointer;
}

.input-container {
  margin: 10px;
}

.input-field {
  width: 200px;
  height: 30px;
}
.button {
  width: 200px;
  height: 30px;
}

.container {
  text-align: center;
}

.button-link {
  border: 0;
  cursor: pointer;
  background-color: transparent;
  color: skyblue;
  margin: 20px;
}

.input-error {
  position: absolute;
  padding: 8px;
  color: red;
  font-size: 13px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

table td button {
  margin: 5px;
}
table img {
  width: 80px;
}
.main-page-banner,
.restaurant-page-banner {
  background-image: url("https://www.shutterstock.com/shutterstock/photos/1125066479/display_1500/stock-photo-various-of-asian-meals-on-rustic-background-top-view-place-for-text-asian-food-concept-1125066479.jpg");
  background-color: rgb(0, 0, 0, 0.2);
  background-size: cover;
  background-blend-mode: multiply;
  padding: 30px;
  height: 230px;
  color: white;
  text-align: center;
}

.input-wrapper {
  background-color: white;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: auto;
  width: 60%;
}

.select-input {
  height: 40px;
  border: none;
  width: 20%;
  padding-left: 15px;
}
.select-search {
  height: 40px;
  border: none;
  width: 45%;
  border-left: 1px solid #ccc;
  padding-left: 15px;
}

.location-list {
  color: black;
  list-style-type: none;
  text-align: left;
  position: absolute;
  background-color: white;
  padding: 0;
  margin: 0;
  margin-left: -5px;
  border: 1px solid #ccc;
}

.location-list li {
  width: 180px;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.restaurant-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 50px;
  color: white;
}

.restaurant-wrapper {
  width: 45%;
  background-color: black;
  margin: 10px;
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
}

.restaurant-wrapper .heading-wrapper,
.restaurant-wrapper .address-wrapper {
  padding-left: 20px;
  display: flex;
  justify-content: flex-start;
}

.restaurant-wrapper h5 {
  margin-left: 50px;
}

.restaurant-wrapper .address {
  margin-left: 8px;
}

.restaurant-page-banner h1 {
  font-size: 65px;
}

.detail-wrapper {
  display: flex;
  background-color: black;
  color: white;
}

.detail-wrapper h4 {
  width: 50%;
}

.food-item-wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
}

.food-item-wrapper .list-item {
  color: black;
  border-bottom: 1px solid black;
  padding: 20px;
  font-weight: bold;
  display: flex;
  text-transform: capitalize;
}

.food-item-wrapper .list-item button {
  color: white;
  background-color: black;
  padding: 5px;
  border-radius: 15px;
  cursor: pointer;
}
.food-item-wrapper .list-item img {
  width: 100px;
  padding-right: 20px;
}

.food-item-wrapper .list-item .description {
  font-weight: lighter;
}
